<section id="torch-toolbar">
  <div class="container d-flex justify-content-end">
    <%%= link "Cancel", to: Routes.<%= schema.route_helper %>_path(@conn, :index), class: "btn btn-secondary" %>
  </div>
</section>

<section id="torch-header-and-content">
  <div class="container">
    <h3>New <%= String.capitalize(schema.human_singular) %></h3>
    <%%= render "form.html", Map.put(assigns, :action, Routes.<%= schema.route_helper %>_path(@conn, :create)) %>
  </div>
</section>